<% include partials/header %>
<%include partials/sidebar %>
    <div class="twelve wide column">
        <h2 style="margin-top:40px;color:#490707"><i class="calendar check icon" style="color:#ac1010"></i>Schedule:-</h2>
        <a href="/dashboard/schedule/newschedule"><button class="ui red basic button" style="margin-right:20px">New Schedule</button></a>
        <hr style="margin-right:400px;margin-top:30px">
        <% schedule.forEach(function(schedule){ %>
            <div class="ui raised segment"style="margin-right:400px;margin-top:30px">
                <h3><%= schedule.Teamname%></h3>
                <p>Time: <%= schedule.time %></p>
                <p>Date: <%= schedule.scheduleDate %></p>
                <hr>
                <div class="item">
                    <div class="right floated content">
                        <form action="/dashboard/schedule/<%= schedule._id %>?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" class="ui inverted primary button" value="delete">
                        </form>
                    </div>
                    <div class="content">
                        <span>Added on : <%= schedule.date.toDateString() %></span>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

